/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes cd-play {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@-webkit-keyframes cd-play {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.modal {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  visibility: hidden;
  color: white;
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity, visibility;
  transition-timing-function: linear; }
  .modal.active {
    visibility: visible;
    opacity: 1; }

.modal__close {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 6;
  background: transparent;
  font-size: 80px;
  line-height: 60px;
  text-align: center;
  cursor: pointer; }

.modal__banner {
  margin: 30px auto 0;
  width: 90%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #326;
  background-blend-mode: lighten;
  transition: 1s background-image linear; }

.modal__gallery {
  margin: 30px auto 0;
  width: 90%;
  height: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; }

.modal__gallery-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 120px;
  height: 80px;
  cursor: pointer; }
  .modal__gallery-item:not(.active) {
    filter: grayscale(1);
    -webkit-filter: grayscale(1); }

* {
  box-sizing: border-box; }

body {
  background: black;
  font-family: 'Open sans', Arial, sans-serif;
  font-weight: lighter; }

a {
  color: black;
  text-decoration: none; }

.nav {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  padding: 0 50px 0 140px;
  display: block; }

.nav__logo {
  background-image: url(/asset/images/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  position: fixed;
  top: 20px;
  left: 40px;
  width: 70px;
  height: 70px;
  animation: cd-play 6s infinite linear;
  animation-play-state: paused; }
  .nav__logo:hover {
    animation-play-state: running; }

.nav__item {
  display: inline-block; }
  .nav__item a {
    display: block;
    color: white;
    padding: 20px 40px;
    transition: 0.4s ease-in-out; }
    .nav__item a:hover {
      background: white;
      color: black; }

.header {
  height: auto;
  position: relative; }
  .header svg {
    z-index: -1;
    position: fixed !important; }

.header__cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  padding: 20% 10%;
  text-align: center;
  font-size: 35px;
  font-style: italic;
  z-index: 1; }

.header__sentence,
.header__ref {
  padding: 20px 0; }

.header__ref {
  text-align: right;
  font-size: 25px; }

.travel {
  position: relative;
  cursor: pointer; }

.travel__cover {
  position: relative;
  width: 100%;
  height: 600px;
  padding: 150px 0 0 200px;
  z-index: 1; }
  @media (max-width: 700px) {
    .travel__cover {
      padding: 150px 0 0; } }

.travel__map {
  position: relative;
  width: 300px;
  height: 300px;
  transition: 0.5s ease-in; }
  .travel__map svg.datamap {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.75); }
  @media (max-width: 700px) {
    .travel__map {
      margin: 0 auto; } }

.travel__tooltip {
  color: white;
  font-family: 'Open sans', Arial, sans-serif;
  font-weight: lighter; }

.travel__bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #326;
  background-blend-mode: lighten; }

.travel__title-group {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  color: white;
  text-align: right;
  z-index: 2; }
  @media (max-width: 700px) {
    .travel__title-group {
      text-align: center; } }

.travel__title {
  font-size: 40px;
  line-height: 46px; }

.travel__photo-place {
  font-size: 16px;
  line-height: 22px; }
